@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* shorst */
:root{
    --blue-d:#23245D;
    --blue:#343374;
    --blue-l:#16b0dfb4;
    --red:#E45638;
    --red-d:rgba(160, 39, 15);
    --wh:#F0EBDF;
    --pink:#8da1c0;
    --font-buet: Kaushan Script;
    --font-ar: Arial, Helvetica, sans-serif
}
.flex{
    display: flex;
}
.cen{
    align-items: center;
}
.jsc{
    justify-content: center;
}
.jsb{
    justify-content: space-between;
}
.ali{
    align-items: center;
}
body{
    background-color: var(--blue);
    margin: 0px;
}
header{
    background-color: var(--blue-d);
    height: 93px;
    padding: 10px;
}
a{
    color: var(--wh);
    text-decoration: none;
    font-family: var(--font-ar);
    font-weight: 500;
    font-size: 30px;
    margin: 0px 44px;
}
li{
    list-style: none;
}
h1{
    color:var(--red);
    font-family:var(--font-buet);
    font-size: 50px;
    margin: 0px 30px;
}
header .img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color:var(--wh);
}
.main{
    border-bottom: solid 3px;
}
.menu{
    padding: 40px 0px;
}
.main-text{
    background: radial-gradient(55.00% 50.00% at 50% 50%,var(--blue-l),var(--blue) 100%);
}
.main-text h2{
    font-family:var(--font-buet);
    font-size: 120px;
    color: var(--wh);
}
.meals h3{
    font-family: var(--font-ar);
    font-size: 60px;
    margin: 80px 0px 10px 0px;
    color: var(--wh);
    text-align: center;
}
.cards{
    flex-wrap: wrap;
}
.card{
    background-color: var(--pink);
    width: 400px;
    margin: 20px;
    padding: 20px 25px 25px 15px;
    transition: 0.5s;
    overflow: scroll;
    position: relative;
}
.card h3{
    color: var(--blue-d);
    font-family: var(--font-buet);
    font-size: 35px;
    margin: 0px;
}
.card p{
    color: var(--blue);
    font-family: var(--font-ar);
    font-size: 18px;
    margin: 0pc;
}
.card:hover{
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.up .img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 15px 0px 0px 340px;
    border-radius: 100%;
    background-color: var(--wh);
    padding: 3px;
}
.up .img:hover{
    background-color: var(--red-d);
    color: var(--wh);
}
.steps h3{
    font-size: 60px;
    font-family: var(--font-ar);
    color: var(--wh);
    text-align: center;
}
.steps .div{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--wh);
    margin: 40px 20px 20px 38%;
    border-radius: 100%;
}
.steps p{
    color: var(--wh);
    font-size: 30px;
    font-family: var(--font-ar);
    font-weight: 560;
}
.steps .line{
    position: absolute;
    background-color: var(--wh);
    width: 20px;
    height: 500px;
    margin: 100px 0px 0px 40%;
}
footer{
    background-color: var(--blue-d);
    height: 200px;
}
footer h3{
    color: var(--wh);
    font-family: var(--font-ar);
    font-size: 40px;
    font-weight: 560;
    text-align: center;
}
.inst{
    margin: 50px 0px 0px 43%;
}